body {
	background-color: lightblue;
}

h1 {
	color: white;
	text-align: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

img {
	max-width: 300px;
	border: 1px solid black;
}

.card {
	width: 500px;
	border: 5px solid crimson;
	margin: 10px;
}

.description-container {
	font-family: verdana;
	text-align: center;
	font-size: 18px;
}

.title-container {
	font-family: verdana;
	text-align: center;
	font-size: 26px;
}

#cards-container {
	display: flex;
}
